<div class="card-block">
  <h4 class="card-title">{{data.make + " " + data.model}}</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{'license Plate:' + " " + data.licensePlate}}</li>
    <li class="list-group-item">{{'Mileage:' + " " + data.mileage}}</li>
    <li class="list-group-item">{{'next Action:' + " " + data.nextAction}}</li>
    <li class="list-group-item">{{'color:' + " " + data.color}}</li>
    <li class="list-group-item">{{'engineCode:' + " " + data.engineCode}}</li>
    <li class="list-group-item">{{'registrationDate:' + " " + data.registrationDate}}</li>
    <li class="list-group-item">{{'previousOwner:' + " " + data.previousOwner}}</li>
    <li class="list-group-item">{{'category:' + " " + data.category}}</li>
    <li> <a routerLink="/car/{{data.Id}}/Addons" routerLinkActive="active" class="btn btn-primary">AddOns</a></li>
  </ul>
  <button type="button" class="btn btn-primary" (click)="btnEdit()">Edit</button>
  <button type="button" class="btn btn-primary" (click)="btnDelete()">Delete</button>
</div>


