<form #form="ngForm" (ngSubmit)="btnAddUser()">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>First name</label>
            <input type="text" class="form-control" name="firstName"
                   [(ngModel)]="data.firstName" #firstName="ngModel">
            <div class="messageError"
                 *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                First name is required.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label>Last name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="data.lastName"
                   #lastName="ngModel">
            <div class="messageError" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                Last Name is required.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username"
               [(ngModel)]="data.userName" #username="ngModel">
        <div class="messageError" *ngIf="username.invalid && (username.dirty || username.touched)">
            Your username is required.
        </div>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password"
               [(ngModel)]="data.password" #password="ngModel"  minlength="4">
        <div class="messageError" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password?.errors.required">
                Password is required.
            </div>
            <div *ngIf="password?.errors.minlength">
                Password must be at least 4 characters long.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label>Date of birth</label>
        <input type="date" class="form-control" name="dateOfBirth"
               [(ngModel)]="data.dateOfBirth" #dateOfBirth="ngModel">
        <div class="messageError"
             *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
            Your date or birth is required.
        </div>
    </div>
    <div class="mb-3">
        <label>Gender</label>
        <select class="form-control" name="gender" [(ngModel)]="data.gender" #gender="ngModel" required>
            <option *ngFor="let g of genders" [value]="g">{{g}}</option>
        </select>
        <div class="messageError" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
            Your gender is required.
        </div>
    </div>
    <div class="mb-3">
        <label>phone number</label>
        <input type="number" class="form-control" name="phone"
               [(ngModel)]="data.phoneNumber" #phone="ngModel" required pattern="^[0-9]*$">
        <div class="messageError"
             *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <div *ngIf="phone?.errors.required">
                phone number is required.
            </div>
            <div *ngIf="phone?.errors.pattern">
                phone number have to include only numbers.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="data.email" #email="ngModel" required email>
        <div class="messageError"
             *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email?.errors.required">
                Email is required.
            </div>
            <div *ngIf="email?.errors.email">
                Email must be a valid email address
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>Country</label>
            <select class="form-control" name="country" [(ngModel)]="data.country" #country="ngModel">
                <option *ngFor="let c of countries" [value]="c">{{c}}</option>
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label>City</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="data.city"
                   #city="ngModel">

        </div>
    </div>
    <div class="mb-3">
        <label>Street</label>
        <input type="text" class="form-control" name="street"
               [(ngModel)]="data.street" #street="ngModel">
    </div>
    <label>Image</label>
    <div class="custom-file mb-3">
        <input type="file" name="imagefile" id="file" class="custom-file-input" (change)="onFileSelected($event)">
        <label for="file" class="custom-file-label">Choose File</label>
    </div>
    <div class="buttons">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Sign Up</button>
        <button class="btn btn-primary center" (click)="clear()">Clear</button>
        <button class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div>
</form>
