<div class="container">
  <div class="card" *ngFor="let car of cars">
    <div class="row" >
      <div class="col-md-6">
        <div class="card-block">
          <h4 class="card-title">{{car.make + " " + car.model}}</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{'license Plate:' + " " + car.licensePlate}}</li>
            <li class="list-group-item">{{'Mileage:' + " " + car.mileage}}</li>
            <li class="list-group-item">{{'next Action:' + " " + car.nextAction}}</li>
          </ul>
          <a routerLink="/car" routerLinkActive="active" class="btn btn-primary">More Details</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-img-bottom">
        </div>
      </div>
    </div>
  </div>
  <button>Add Car</button>
</div>
